@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 243, 44%, 25%;
    --secondary: 42, 100%, 51%;
    --light_gray: 240, 16%, 93%;
    --dim_gray: 0, 0%, 44%;
    --rich_navy_blue: 242, 44%, 22%;
    --off_white: 0, 0%, 96%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --light_gray_border: 240, 16%, 93%;
  }

  .dark {
    --primary: 243, 44%, 25%;
    --secondary: 42, 100%, 51%;
    --light_gray: 240, 16%, 93%;
    --dim_gray: 0, 0%, 44%;
    --off_white: 0, 0%, 96%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --rich_navy_blue: 242, 44%, 22%;
    --light_gray_border: 240, 16%, 93%;
  }
}
